$cl-negro: #0e0702;
$back: $cl-negro;
$cl-iconos:rgb(0, 225, 255);
$cl-letra: rgb(248, 248, 248);
$cl-ico-blanco:rgb(242, 248, 250);
// ------------------------
$lado: 30px;
$ancho-general: 210px;
// ------------------------
@import "letras";
// ------------------------
// ------------------------
@mixin barra-superior-small {
    .barra-superior {
        grid-template-columns: 3fr .5fr 2fr;
        .logo {
            grid-template-columns: 1fr 3fr;
        }
        .buscador {
            display: grid;
            grid-template-columns: 3fr 0.5fr;
            .contenedor-buqueda {
                display: none;
            }
        }
        .mas-iconos-derecha {
            grid-template-columns: 2fr 1fr;
            .solo-iconos-s-d {
                grid-template-columns: repeat(2, 1fr);
            }
            .se-va {
                display: none;
            }
        }
    }
}

@mixin barra-superior-large {
    .barra-superior {
        grid-template-columns: 2fr 4fr 3fr;
        .logo {
            grid-template-columns: 1fr 3fr;
        }
        .buscador {
            display: grid;
            grid-template-columns: 3fr 0.5fr;
            .contenedor-buqueda {
                .buscar-box {
                    width: 100%; //23rem;
                    height: 80%;
                    margin-top: 0px;
                    // &:hover {
                    //     border: 1px solid $cl-iconos;
                    //     box-shadow: 0 0 3px #062df1;
                    //     outline: 0
                    // }
                }
            }
            .lupa-c {
                .lupa {
                    padding-left: 2rem;
                }
            }
        }
        .mas-iconos-derecha {
            grid-template-columns: 4fr 1fr;
            .solo-iconos-s-d {
                grid-template-columns: repeat(4, 1fr);
            }
            .se-va {}
        }
    }
}

// ------------------------
@mixin divisiones-cabecera($segundo-v, $no, $no2, $frame-cantidad, $min-render-width) {
    // align-content: center;
    // justify-content: center;
    .paquete-horizontal {
        width: 100%;
        max-width: $min-render-width;
        margin: 20px auto;
        .cabecera-paquete {
            grid-template-columns: 1fr/* 3fr */
            '$segundo-v' 2fr;
            .titulo-canal-ARRIBA {
                a {
                    margin-left: 9px;
                    grid-column: 1/2;
                    img {
                        // padding-top: 5px;
                    }
                }
            }
            .mensaje-cabecera {
                grid-column: 2/3;
                display: $no;
                align-content: center;
                justify-content: left;
            }
            .btn-suscribete {
                margin-right: 9px;
                grid-column: 3/4;
                display: $no2;
                align-content: center;
                justify-content: right;
            }
        }
        .coleccion-tarjetas-in {
            display: grid;
            grid-template-columns: repeat(210px, $frame-cantidad);
            // width: 100%;
            // max-width: $min-render-width;
            // margin: 20px auto;
        }
    }
}

// ------------------------
// ------------------------
.toda-la-ventana {
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    min-width: 300px;
    // display: grid;
    // grid-template-columns: 1fr;
}

.img-cicle {
    width: $lado;
    height: $lado;
    border-radius: $lado/2
}

.img-rectangulo {
    width: $ancho-general;
    height: 120px;
    /*   width: 15rem;
    height: 10rem; */
}

.no-decor {
    text-decoration: none;
    color: $cl-letra;
}

.barra-superior {
    background: $back;
    padding-right: 30px;
    padding-left: 30px;
    display: grid;
    // grid-template-columns: 3fr .5fr 2fr;
    grid-gap: 5px;
    padding: 10px;
    .logo {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 10px;
        align-content: center;
        .hamburguesa {
            color: $cl-letra;
            text-align: center;
            font-size: 20px;
        }
        .icon-yt-pe {
            font-family: $lt-titulo;
            a {
                text-decoration: none;
                color: $cl-letra;
                .col-ic {
                    color: $cl-iconos;
                    font-size: 20px;
                }
            }
            label {
                font-family: $lt-titulo;
                font-size: .5rem;
                color: $cl-letra;
            }
        }
    }
    .buscador {
        .contenedor-buqueda {
            // display: none;
        }
        .lupa-c {
            margin-top: 5px;
            .lupa {
                padding-left: 10px;
                font-size: 16px;
                color: $cl-ico-blanco;
            }
        }
    }
    .mas-iconos-derecha {
        display: grid;
        // grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
        .solo-iconos-s-d {
            display: grid;
            // grid-template-columns: repeat(2, 1fr);
            align-content: center;
            .iconoW {
                align-content: center;
                justify-content: center;
                font-size: 18px;
                color: $cl-iconos;
                margin-left: 15px;
            }
            .permanece {}
            .se-va {
                // display: none;
            }
        }
        // .img-cicle {}
    }
}

.browser-videos {
    // margin-left: 8rem;
    // margin-right: 8rem;
    // -----arrbia--costados
    // margin: 1rem 20%;
    // display: flex;
    align-content: center;
    justify-content: center;
    .paquete-horizontal {
        margin: 0rem 0rem;
        display: grid;
        grid-template-columns: 1fr;
        .cabecera-paquete {
            display: grid;
            background: $back;
            margin: 0rem 0rem;
            .titulo-canal-ARRIBA {
                a {
                    display: flex;
                    align-content: center;
                    span {
                        // align-content: center;
                        padding-top: 4px;
                        padding-left: 4px;
                        font-family: $lt-titulo;
                        text-decoration: none;
                        font-size: 20px;
                        color: $cl-letra;
                    }
                    img {}
                }
            }
            .mensaje-cabecera {
                // grid-column: 2/3;
                color: $cl-letra;
                font-family: $lt-varios;
            }
            .btn-suscribete {
                // grid-column: 4/5;
                color: $cl-letra;
                font-family: $lt-varios;
            }
        }
        .coleccion-tarjetas-in {
            display: grid;
            // grid-template-columns: 1fr 1fr 1fr 1fr;
            // grid-gap: 5px;
            .tarjeta-individual {
                display: grid;
                grid-template-columns: $ancho-general;
                padding: 9px;
                // align-content: center;
                // justify-content: center;
                // --------------
                background: $back;
                a {
                    img {
                        //rectangular
                    }
                }
                .detalles-tarjeta {
                    display: grid;
                    margin: 5px 0;
                    grid-template-rows: 1fr 60px;
                    h3 {
                        margin: 3px 0;
                        a {
                            margin: 5px 0;
                            text-decoration: none;
                            color: $cl-letra;
                            font-family: $lt-titulo;
                            font-size: 15px
                        }
                    }
                    .metadatos-canal {
                        // display: grid;
                        // grid-template-rows: 1fr1 fr;
                        text-decoration: none;
                        color: $cl-letra;
                        font-family: $lt-varios;
                        h4 {
                            margin-top: 2px;
                            margin-bottom: 4px;
                            color: $cl-iconos;
                            font-size: 11px
                        }
                        .metadatos-vistas-time {
                            display: grid;
                            grid-template-rows: 18px 18px;
                            font-size: 11px;
                            // margin-top: -18px;
                        }
                    }
                }
            }
        }
    }
}

// -------------1000+----------
@media (min-width:1000px) {
    body {
        background: $back/* green */
        ;
    }
    @include barra-superior-large;
    .coleccion-tarjetas-in {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .browser-videos {
        // display: block;
        @include divisiones-cabecera( 7rem, flex, flex, 4, 920px);
    }
}

// ------//750---1000---
@media (min-width:720px) {
    @media (max-width: 999px) {
        body {
            background: $back/* red */
            ;
        }
        @include barra-superior-large;
        .coleccion-tarjetas-in {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .browser-videos {
            @include divisiones-cabecera( 4rem, none, flex, 3, 690px);
        }
    }
}

// ------//500---750---
@media (min-width:480px) {
    @media (max-width: 719px) {
        body {
            background: $back/* blue */
            ;
        }
        @include barra-superior-small;
        // -----------------------------
        // -----------------------------
        // -----------------------------G
        .coleccion-tarjetas-in {
            grid-template-columns: 1fr 1fr;
        }
        .browser-videos {
            @include divisiones-cabecera( 1rem, none, flex, 2, 460px);
        }
    }
}

@media (max-width: 480px) {
    body {
        background: $back/* yellow */
        ;
    }
    @include barra-superior-small;
    .paquete-horizontal {
        max-width: 230px;
    }
    .cabecera-paquete {
        width: 230px;
    }
    .coleccion-tarjetas-in {
        grid-template-columns: 230px;
    }
    .browser-videos {
        // @include margen-escalable(20%);
        // $porcion: calc(width-(2*210))/2;
        @include divisiones-cabecera( 1rem, none, none, 1, 230px);
    }
}